* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    background-color: blue;
    padding: 5%;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
}

p{
    padding: 5%;
    text-align: center;
    font-weight: bold;
    color: blue;
}

button{
    display: block; 
    width: 80%;
    padding: 8%;
    margin-left: 8%;
    margin-bottom: 5%;
    float: left;
    font-size: 3em;
}

#one{
    background-color: yellow;
    border: 5px solid purple;
    color: blue;
}

#two{
    background-color: turquoise;
    border: 5px solid blue;
    color:blue;
}

#three{
    background-color: lime;
    border: 5px solid blue;
    color: blue;
}

#hide{
    display: none; 
    float: none;
}


@media (min-width:500px){
    button{
        padding: 20%;
       
    }
}

@media (min-width:700px){
    button{
        float: left;
        padding: 8% 2% 8% 2%;
        width: 25%;
        margin: 2%;
       
    }
}